.players {
  display: flex;
  flex-flow: column wrap;
  justify-content: left;
  padding: 0 1rem
}

.pl-card {
  flex-basis: 20%;
  margin: 1em;
  padding: 1em;
  border: 1px solid rgb(163, 59, 59);
}

.cont--pl {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.list--pl {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  padding: 0 0;
  margin: 0 0;
}

.pl-card--details {
  padding: 0 .5rem;
}

.pl-card--name {
  justify-self: center;
  align-self: center;
}

.btn--add-pl {
  width: 50%;
  height: auto;
}

.pl-card--img {
  width: 90%;
  height: auto;
  border-radius: 25rem;
}
