.cont--pl {
  display: flex;
  position: fixed;
  top: 0%;
  right: 20%;
  left: 18%;
  justify-self: center;
  flex-flow: column wrap;
  width: 60%;
  height: -webkit-fill-available;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsla(180, 33%, 80%, 0.548)
}

.button-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  height: auto;
}

.player-detail-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  width: -webkit-fill-available;
  height: auto;
}

.activity-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.list--pl {
  display: flex;
  /* position: relative; */
  flex-flow: row wrap;
  padding: 0 0;
  margin: 0 0;
  width: 100%;
  height: 100%;
}

.pl-card-dash {
  display: flex;
  flex-flow: row nowrap;
  width: -webkit-fill-available;
  max-height: auto;
  margin: 1em;
  padding: 1em 0em;
  color: white;
  justify-content: space-evenly;
  align-content: center;
}

.pl-card-top {
  display: flex;
  flex-flow: row nowrap;
}

.pl-card-bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.pl-card__header--name {
  display:flex;
  justify-self: center;
  align-self: center;
}

.pl-card--details {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
}

.cont--img {
  height: 80px;
  width: 80px;
  border: 2px solid hsl(207, 98%, 23%);
  border-radius: 25rem;
  justify-self: center;
  align-self: center;
}

.cont--img--detail {
  transform: scale(1.5, 1.5) translate(-20px, -15px)
}

.pl-card--img {
  display: flex;
  justify-self: center;
  align-self: center;
  border-radius: 25rem;
  width: 80px;
  height: 80px;
}

/* .pl-card-img-detail {
  transform: scale(1.5, 1.5) translate(-20px, -20px)
} */

.btn--red {
  background-color: rgb(243, 61, 61) !important;
}

.btn--circle {
  border-radius: 25rem !important;
}