.cont--pt {
  display: flex;
  flex-flow: row wrap;
  align-content: left;
  width: 100%;
  height: 100%;
}

.pl-pt-list {
  display: flex;
  flex-flow: column;
  flex-basis: 20%;
  max-width: 200px;
  max-height: 700px;
  margin: 1em;
  padding: 1em;
  border: 3px solid hsl(207, 98%, 23%);
  border-radius: 2rem;
  background-color: hsl(207, 61%, 61%);
  color: white;
  justify-content: flex-start;
  align-content: flex-start;
}

.list--pt {
  display: flex;
  flex-flow: column;
  position: relative;
  height: 300px;
  padding: .5rem 0;
  justify-content: center;
  align-content: flex-start;
  overflow-y: scroll;
}

.list__header--pt {
  display: flex;
  justify-content: center;
}

.pt-card {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  border: 2px solid hsl(207, 98%, 23%);
  background-color: hsl(207, 52%, 71%);
  border-radius: 2rem;
  padding: 1em;
  margin: .25rem;
  width: -webkit-fill-available;
  justify-content: center;
  justify-self: center;
  align-content: center;
  align-self: flex-start;
}

.pt-card--details {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
}
.pt-card--detail {
  display: flex;
  margin: .25rem;
}

.pt-card--stats {
  display: flex;
  flex-flow: row nowrap;
}

.pt-card--img {
  display: flex;
  justify-self: center;
  align-self: center;
  border-radius: 25rem;
  width: 100%;
  height: auto;
}

.btn--del {
  display: flex;
  align-self: center;
  justify-content: center;
  max-width: 20px;
  max-height: 20px;
  border-radius: 2rem;
}

.btn--add-pt {
  width: -webkit-fill-available;
  height: auto;
  margin: 0 0;
}

.no-data-msg {
  text-align: center;
}