.h1 {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-self: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  text-align: center;
  font-size: 25px;
  margin: 0em 0em;
}

.h2 {
  position: relative;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  text-align: center;
  font-size: 15px;
  margin: 0em 0em;
}

.cont--form-pt {
  position: absolute;
  top: 10%;
  display: flex;
  flex-basis: 20%;
  width: 25%;
  margin: 1em;
  padding: 1em;
  border: 3px solid hsl(207, 98%, 23%);
  border-radius: 2rem;
  background-color: hsl(207, 61%, 61%);
  color: white;
  justify-self: center;
  justify-content: space-evenly;
  align-content: center;
  align-self: center;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
  justify-self: center;
}

.link--pt {
  display: flex;
  align-self: flex-end;
  text-decoration: none;
  color: hsl(207, 98%, 23%);
  font-size: smaller;
  transition: .25s;
}

.link--pt:hover {
  color: white;
}

.link {
  text-decoration: none;
  margin: 0em 1em;
  font-style: italic;
}

.form {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  align-content: center;
  justify-self: center;
  align-self: center
}

.behind {
  z-index: 4;
}

div > svg {
  z-index: 5
}

.btn--toss {
  background-color: rgb(255, 152, 56) !important;
  font-family: 'Bangers';
  font-size: 30px;
  height: 160px;
  width: 160px;
}

.btn--circle {
  border-radius: 25rem !important;
}

.btn--catch {
  height: 70px;
  width: 70px;
}

.btn--catch:disabled {
  background-color: hsla(152, 64%, 45%, 0.411) !important;
  color: rgb(182, 179, 179);
}

.btn--miss {
  height: 70px;
  width: 70px;
}

.btn--red:disabled {
  background-color: rgba(243, 61, 61, 0.438) !important;
  color: rgb(182, 179, 179);
}

.btn--red {
  background-color: rgb(243, 61, 61) !important;
}

.seconds {
  font-family: 'Bangers';
  font-size: 30px;
}
.cont--catch-miss {
  display: flex;
  flex-flow: row;
  justify-self: center;
  justify-content: space-evenly;
}
.cont--miss, .cont--catch {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.count {
  font-size: 25px;
  text-align: center;
  justify-self: center;
  padding: 0 0;
  margin: 0 0;
}

.btn-submit:disabled {
  background-color: hsla(152, 64%, 45%, 0.411) !important;
  color: rgb(182, 179, 179);
}

.input--note {
  margin: .25rem;
  border-radius: .25rem;
}

.note-section {
  display: flex;
  flex-flow: column;
  width: -webkit-fill-available;
}

input[type="button"] {
  outline:none;
}
