.reminder-list-cont {
  display: flex;
  flex-flow: column nowrap;
  width: 15%;
  height: -webkit-fill-available;
  position: fixed;
  right: 0;
  padding: 1rem 2rem;
}

.mark-completed {
  cursor: pointer;
}

.red {
  background-color: rgb(196, 39, 39);
}

.reminder-card {
  display: flex;
  flex-flow: column nowrap;
  padding: .25rem;
  margin: .25rem;
}

.due-date {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  border: none;
}

.due-date-label {
  padding-right: .25rem;
  transform: translateY(3px)
}

.input-reminder-date {
  padding-left: 1rem;
  border: none !important;
  transform: translateX(10px)

}

.due-date-time {
  border: none !important;
}

.due-date-time-input {
  border: none !important;
  border-bottom-color:transparent !important;
}