.chart-container {
display: flex;
flex-flow: column nowrap;
justify-content: center;
text-align: center;
align-content: center;
border: 1px solid gray;
padding: 1rem;
}

.week-container {
  display: flex;
  flex-flow: row nowrap;
}

.day-containter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-content: flex-end;
}

.goal-container {
  display:flex;
  flex-flow: column nowrap;
  border: 1px solid black;
  width: 40px;
  margin: 0 1rem;
  justify-content: flex-end;
  align-content: flex-end;
}

.achieved-container {
  display: flex;
  background-color: gray;
  width: 40px;
  justify-content: flex-end;
  align-content: flex-end;
}

.goal-container-week {
  display:flex;
  border: 1px solid black;
  height: 20px;
  margin: 0 1rem;
}

.achieved-container-week {
  display: flex;
  background-color: gray;
  height: 20px;
  align-self: flex-end;
}

.day-label {
  text-align: center;
}

