.chart-container {
display: flex;
flex-flow: column nowrap;
justify-content: center;
text-align: center;
align-content: center;
padding: .25rem;
width: 100%;
height: auto;
}

.goal{
  padding: .25rem;
}

.goal-statement,
.heading,
.goal-acheived {
  color:hsla(173, 47%, 27%, 0.801);
  text-align: center;
}

.day {
  font-size: smaller;
  color: white;
  text-align: center;
}

.heading-container {
  display: flex;
flex-flow: column nowrap;
justify-content: center;
justify-self: center;
align-self: center;
text-align: center;
align-content: center;
width: -webkit-fill-available;
}
.week-container {
  display: flex;
  flex-flow: row nowrap;
}
.middle-chunk {
  margin-top: .25rem;
  margin-bottom: .25rem;
}
.day-containter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-content: flex-end;
}

.goal-container {
  display:flex;
  flex-flow: column nowrap;
  width: 30x;
  margin: 0 .25rem;
  justify-content: flex-end;
  align-content: flex-end;
  border-radius: .75rem;
  background-color: hsl(174, 30%, 73%);
}

.achieved-container {
  display: flex;
  flex-flow: column nowrap;
  background-color:  hsl(174, 47%, 61%);
  width: 30px;
  justify-content: flex-end;
  align-content: flex-end;
  border-radius: .75rem;
}

.day-label {
  padding: .25rem;
  text-align: center;
}

.footer {
  margin-top: -1.5rem !important;
  color:hsla(173, 47%, 27%, 0.801);
}

.day-label{
  margin-top: -2.25rem !important;
  color:hsla(173, 47%, 27%, 0.801);
}

.goal-container-week {
  display:flex;
  background-color: hsl(174, 30%, 73%);
  height: 20px;
  margin: 0 1rem;
  border-radius: .75rem;
}

.achieved-container-week {
  display: flex;
  background-color: hsl(174, 47%, 61%);
  height: 20px;
  align-self: flex-end;
  border-radius: .75rem;
  justify-content: center;
  align-items: center;
}

.day-label {
  text-align: center;
}

