@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

/* COLOR PALETTE ************

NAV BAR
  background - hsla(173, 43%, 68%, 0.548);;
  box shadow - 2px 2px 10px hsla(172, 97%, 29%, 0.548)
  link - rgb(2, 144, 125)
  text - hsl(172, 97%, 29%)

FORMS, DIALOG, PLAYER PROFILE CARDS
  border - hsl(207, 98%, 23%)
  background - hsl(207, 61%, 61%)
  link - hsl(207, 98%, 23%)
  text - white
  dialog backdrop - rgba(255, 255, 255, 0.582)

IMAGE CONTAINERS
  border - hsl(207, 98%, 23%)

BUTTONS
  red - rgb(243, 61, 61)

SEARCH RESULTS
  no player msg - rgb(95, 95, 95)
  no player msg border -rgba(0, 0, 0, 0.233)
  border - rgba(0, 0, 0, 0.233)
  single result border - rgba(0, 0, 0, 0.233);
  single result background - white
  single result text - black
  single result hover background - rgb(199, 199, 199)

MAIN CONTENT
  background - hsla(180, 33%, 80%, 0.548)

PNG SHADOW
  -webkit-filter: drop-shadow(1px 2px 2px hsl(207, 98%, 23%));
  filter: drop-shadow(1px 2px 2px hsl(207, 98%, 23%));
*/


body,
div,
p,
section,
article {
  margin: 0 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

#root {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: flex;
  flex-flow: column;
  position: absolute;
  background-color: hsla(180, 33%, 80%, 0.548);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  color: white;
  border: none;
  margin: .5rem;
  padding: .25rem;
}

.btn:hover {
  cursor: pointer;
}

input {
  margin: .25rem 0rem;
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom-color: hsl(207, 98%, 23%);
  transition: .25s;
  color: hsl(207, 98%, 23%);
  text-align: center;
}

input:focus {
  outline: none;
  color: hsl(207, 98%, 23%);
  border-bottom-color: white;
}

::placeholder {
  font-style: italic;
  color:hsl(207, 98%, 23%);
  transition: .25s;
}

input:focus::placeholder {
  color: transparent;
}

.btn:disabled {
  cursor: not-allowed;
}

::-webkit-scrollbar {
  display: none;
}

.main-cont {
  display: flex;
  flex-flow: row nowrap;
  background-color: rgb(127, 209, 175);
}

.cont--pl-view {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 10%;
  right: 0;
  justify-content: space-evenly;
  align-content: center;
}

