body {
  margin: 0 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.btn {
  background-color:hsl(172, 97%, 29%);
  color: white;
  border: none;
  margin: .5rem;
}

.list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cont--img {
  padding: 0 0;
}

.cont--pl-view {
  display: flex;
  flex-flow: row nowrap;
}