.cont--nav {
  display: flex block;
  flex-flow: row nowrap;
}

.cont--search {
  display: flex;
}
.nav {
  display: flex block;
  flex-flow: row nowrap;
  position: fixed;
  top: 0;
  justify-self: center;
  width: 98%;
  background-color: rgb(255, 255, 255);
  padding: 1rem 1rem;
  color: hsl(172, 97%, 29%);
}

.nav__link {
  display: block;
  text-decoration: none;
  font-weight: 200;
  color: rgb(2, 144, 125);
  margin: 0 0;
  padding: .25rem 1rem;
}

.nav__heading {
  text-decoration: none;
  font-weight: 600;
  font-size: larger;
  margin: .5rem;
}

.btn--account,
.btn--create {
  height: 25px;
  width: 25px;
  border: 3px solid black;
  border-radius: 25rem;
  justify-content: center;
  align-content: center;
}

.cont--create,
.cont--account {
  border: 3px solid black;
  z-index: 4;
  position: absolute;
  top: 80%;
}

.cont--create {
  right: 100px;
}

.cont--account {
  right: 10px;
}

.btn--account,
.btn--create{
  align-self: center;
  margin-left: .5rem;
}

.btn--account:hover {
  cursor: pointer;
}

.btn--create:hover {
  cursor: pointer;
}

.nav--right-btn-group {
  display: flex;
  position: fixed;
  right: 2%;
}