.dialog {
  flex-flow: column;
  border: 3px solid hsl(207, 98%, 23%);
  border-radius: 2rem;
  background-color: hsl(207, 61%, 61%);
  color: white;
  position: relative;
  top: 18%;
  justify-content: center;
  align-content: center;
}

.dialog::backdrop {
  background-color: rgba(255, 255, 255, 0.582);
}

.cont__dialog-msg--pw,
.cont__dialog-msg--del-check {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  color: white;
}

.cont__dialog-btns--del-check {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}