.h1 {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-self: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  text-align: center;
  font-size: 25px;
  margin: 0em 0em;
}

.h2 {
  position: relative;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  text-align: center;
  font-size: 15px;
  margin: 0em 0em;
}
.selection-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: -webkit-fill-available;
  border: none !important;
}

.cont--login {
  position: absolute;
  top: 10%;
  display: flex;
  flex-basis: 20%;
  width: 25%;
  margin: 1em;
  padding: 1em;
  border: 1px solid hsl(207, 98%, 23%);
  background-color: hsla(173, 39%, 53%, 0.801);
  color: white;
  justify-self: center;
  justify-content: space-evenly;
  align-content: center;
  align-self: center;
}

.oops {
  color: white;
  justify-self: center;
  justify-content: center;
  text-align: center;
  font-size: larger;
  margin: .5rem;
}

.exists-msg {
  display: flex;
  flex-flow: column;
  color: hsl(207, 98%, 23%);
  margin: .5rem;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.link--login-retry {
  display: flex;
  align-self: flex-end;
  text-decoration: none;
  color: hsl(207, 98%, 23%);
  font-size: smaller;
  transition: .25s;
}

.link--reg {
  display: flex;
  align-self: flex-end;
  text-decoration: none;
  color: hsl(207, 98%, 23%);
  font-size: smaller;
  transition: .25s;
}

.link--reg:hover,
.link--login-retry:hover {
  color: white;
  cursor: pointer;
}

.link {
  text-decoration: none;
  margin: 0em 1em;
  font-style: italic;
}

.form {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  align-content: center;
  justify-self: center;
  align-self: center
}

.loginbtn {
  background-color: white;
  color: hsl(152, 64%, 45%);
  border: 1px solid hsl(152, 64%, 45%);
  margin: .5rem;
  transition: .25s;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  align-content: center;
}
.loginbtn:hover {
  box-shadow: 3px 3px 5px hsla(172, 96%, 18%, 0.61);
}
.loginbtn:focus {
    outline: none;
}


.link--reg-dialog {
  text-decoration: none;
  text-emphasis: none;
  background-color: hsl(152, 64%, 45%);
  color: white;
  border: 1px solid hsl(152, 64%, 45%);
  margin: .5rem;
  border-radius: .25rem;
  transition: .25s;
  font-weight: 500;
  outline: none;
}

.link--reg-dialog:hover {
  color: white !important;
  border: none;
  margin: .5rem;
  border-radius: .25rem;
  transition: .25s;
  outline: none;
}

.btn--login:hover {
  background-color: hsl(152, 64%, 45%) !important;
  color: white !important;
  border: 1px solid white;
  margin: .5rem;
  border-radius: .25rem;
  transition: .25s;
}
